@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("image1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

.scorecard {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    margin-bottom: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
    color: white;
    background-color: black;
}

#message {
    margin-top: 20px;
    font-size: 1.5em;
}

